<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SnoozePrefs First Page</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>SNZPPTimeIntervalPickerCell</string>
			<key>defaults</key>
			<string>com.arya06.snooze++prefs</string>
			<key>default</key>
			<integer>300</integer>
			<key>key</key>
			<string>snoozeTime</string>
			<key>label</key>
			<string>Set Snooze Delay</string>
			<key>PostNotification</key>
			<string>com.company.name/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>SnoozePrefs</string>
</dict>
</plist>
