Package: com.arya06.snooze++
Name: snooze++
Version: 0.0.3
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: arya06
Author: arya06
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader
