Package: com.arya06.snooze++
Name: snooze++
Version: 1.0.0
Architecture: iphoneos-arm
Description: Custom snooze times for your alarms!
Maintainer: arya06
Author: arya06
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader
